<hr style="border:5px solid #108999"> </hr>

# pandas Series <hr style="border:4.5px solid #108999"> </hr>

For starters, import the pandas library, using the relevant well-known convention.

In [2]:
import pandas as pd

## .unique() & .nunique()

Load the "Region.csv" file and set the *squeeze* option to *True*. Store the information in a variable called **region_data**. Preview the data with the pandas *.head()* method.

In [3]:
data = pd.read_csv('Location.csv', squeeze = True)
region_data = data.copy()
region_data.head()

C:\Users\felip\AppData\Local\Temp/ipykernel_10448/4210519499.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  data = pd.read_csv('Location.csv', squeeze = True)

0     Location 3
1     Location 6
2     Location 8
3    Location 26
4    Location 34
Name: Location, dtype: object

Verify that **region_data** is a Series object.

In [4]:
type(region_data)

pandas.core.series.Series

Use the *.describe()* method to obtain descriptive statistics on the **region_data** Series.
<br>Think of how many unique values there are in the data set. 
<br>*Please note that the statistics provided in the output exclude missing data.*

In [6]:
region_data.describe()

count            1043
unique            296
top       Location 25
freq               31
Name: Location, dtype: object

You can obtain some of the values from the previous output by using Python built-in functions or methods. Please extract the total number of values from the **region_data** Series, then the number of unique values. Finally, obtain a list containing all unique values from this Series.

In [7]:
len(region_data)

1043

## .sort_values()

Load the "Region.csv" file and set the *squeeze* option to *True*. Store the information in a variable called **region_data**. Preview the data with the pandas *.head()* method.

In [8]:
data = pd.read_csv('Location.csv', squeeze = True)
region_data = data.copy()
region_data.head()

C:\Users\felip\AppData\Local\Temp/ipykernel_10448/4210519499.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  data = pd.read_csv('Location.csv', squeeze = True)

0     Location 3
1     Location 6
2     Location 8
3    Location 26
4    Location 34
Name: Location, dtype: object

Sort the values without specifying any arguments.

*Please note that the numbers go from 1 to 18, but we are currently ordering the values as labels, not integers. 1 is succeeded by 10, then 11, and so on until 18. Then we have 2, 3, 4, etc., until 8, and eventually - 9.*

In [9]:
region_data.sort_values()

637     Location 1
884     Location 1
465     Location 1
716    Location 10
623    Location 10
          ...
482    Location 97
128    Location 97
669    Location 97
757    Location 98
372    Location 99
Name: Location, Length: 1043, dtype: object

Sort the values, setting the *ascending* parameter equal to *True*.

In [10]:
region_data.sort_values(ascending=True)

637     Location 1
884     Location 1
465     Location 1
716    Location 10
623    Location 10
          ...
482    Location 97
128    Location 97
669    Location 97
757    Location 98
372    Location 99
Name: Location, Length: 1043, dtype: object

Sort the values in **region_data** in descending order.

In [11]:
region_data.sort_values(ascending=False)

372    Location 99
757    Location 98
128    Location 97
482    Location 97
271    Location 97
          ...
202    Location 10
298    Location 10
637     Location 1
884     Location 1
465     Location 1
Name: Location, Length: 1043, dtype: object

## Attribute and Method Chaining

Load the "Region.csv" file and set the *squeeze* option to *True*. Store the information in a variable called **region_data**. Preview the data with the pandas *.head()* method.

In [12]:
data = pd.read_csv('Location.csv', squeeze = True)
region_data = data.copy()
region_data.head()

C:\Users\felip\AppData\Local\Temp/ipykernel_10448/4210519499.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  data = pd.read_csv('Location.csv', squeeze = True)

0     Location 3
1     Location 6
2     Location 8
3    Location 26
4    Location 34
Name: Location, dtype: object

Use method chaining to obtain the first five rows from the values of **region_data** sorted in ascending order.

In [17]:
region_data.sort_values(ascending=True).head()

637     Location 1
884     Location 1
465     Location 1
716    Location 10
623    Location 10
Name: Location, dtype: object

Use method chaining to obtain the first five rows from the values of **region_data** sorted in descending order.

In [18]:
region_data.sort_values(ascending=False).head()

372    Location 99
757    Location 98
128    Location 97
482    Location 97
271    Location 97
Name: Location, dtype: object

Execute the next code cell to create a Series object called **emp_birth_date** that contains the employee numbers and the dates of birth of certain 4 employees.

In [19]:
emp_birth_date = pd.Series({'No_0001':'1963-08-02', 'No_0002':'1964-06-13', 'No_0003':'1989-12-04', 'No_0004':'1996-04-08'})
emp_birth_date

No_0001    1963-08-02
No_0002    1964-06-13
No_0003    1989-12-04
No_0004    1996-04-08
dtype: object

Obtain just the index of **emp_birth_date**.

In [21]:
emp_birth_date.index

Index(['No_0001', 'No_0002', 'No_0003', 'No_0004'], dtype='object')

Obtain the row labels of the index, i.e. its values, stored in an array.

In [23]:
emp_birth_date.index.to_numpy()

array(['No_0001', 'No_0002', 'No_0003', 'No_0004'], dtype=object)

## .sort_index()

Load the "Region.csv" file and set the *squeeze* option to *True*. Store the information in a variable called **region_data**. Preview the data with the pandas *.head()* method.

In [24]:
data = pd.read_csv('Location.csv', squeeze = True)
region_data = data.copy()
region_data.head()

C:\Users\felip\AppData\Local\Temp/ipykernel_10448/4210519499.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  data = pd.read_csv('Location.csv', squeeze = True)

0     Location 3
1     Location 6
2     Location 8
3    Location 26
4    Location 34
Name: Location, dtype: object

Overwrite the content of the **region_data** Series as you sort the values in *descending* order. Observe the index of the Series. Is it ordered correctly?

In [25]:
region_data = region_data.sort_values(ascending=False)
region_data

372    Location 99
757    Location 98
128    Location 97
482    Location 97
271    Location 97
          ...
202    Location 10
298    Location 10
637     Location 1
884     Location 1
465     Location 1
Name: Location, Length: 1043, dtype: object

Sort the index of the new version of the **region_data** Series object.

In [27]:
region_data.sort_index()

0        Location 3
1        Location 6
2        Location 8
3       Location 26
4       Location 34
           ...
1038    Location 73
1039    Location 82
1040    Location 11
1041    Location 26
1042    Location 94
Name: Location, Length: 1043, dtype: object

Sort the index of the **region_data** Series in opposite direction. You can do that by setting the *ascending* parameter equal to *False*.

In [29]:
region_data.sort_index(ascending=False)

1042    Location 94
1041    Location 26
1040    Location 11
1039    Location 82
1038    Location 73
           ...
4       Location 34
3       Location 26
2        Location 8
1        Location 6
0        Location 3
Name: Location, Length: 1043, dtype: object