<hr style="border:5px solid #108999"> </hr>

# Working with Text Data <hr style="border:4.5px solid #108999"> </hr>

## Working with Text Data and Argument Specifiers

In [7]:
# product_category = 'A'
product_category = 'B'
# print('This item is from product category "%s".')
print('This item is from product category "%s".' % product_category)

This item is from product category "B".

In [14]:
product_category = ["A", "B"]
# print('This item is from product category "%s".' % product_category)
print('This item is from product category "%s".' % product_category[1])

This item is from product category "B".

In [8]:
quantities = [500, 600]
print('This item is from product category "%s".' % quantities[1])

This item is from product category "600".

In [9]:
print("We currently have %d available units of this item." % quantities[0])

We currently have 500 available units of this item.

In [10]:
stock_share_price_list = [40.50, 60.35]
print("This stock costs $%f per share." % stock_share_price_list[1])

This stock costs $60.350000 per share.

In [11]:
# print("This stock costs $%.f per share" % stock_share_price_list[1])
# print("This stock costs $%.1f per share" % stock_share_price_list[1])
print("This stock costs $%.2f per share." % stock_share_price_list[1])

This stock costs $60.35 per share.

In [15]:
# i = 0
i = 1
print("Currently, we have %d units of Category \"%s\" products in store." % (quantities[i], product_category[i]))

Currently, we have 600 units of Category "B" products in store.

## Manipulating Python Strings

In [16]:
# print('This product is from Category "A".')
# print('This product is from \nCategory "A".')
# print('This product is from \n Category "A".')
print('This product is from \n\nCategory "A".')

This product is from

Category "A".

In [17]:
print('This product is from Category "A". ' + 'That product is from Category "B".')

This product is from Category "A". That product is from Category "B".

In [18]:
# print('This product is from Category "A".\t' + 'That product is from Category "B".')
# print('This product is from Category "A".\tThat product is from Category "B".')
print('This product is from Category "A". \t\t\t That product is from Category "B".')

This product is from Category "A". 			 That product is from Category "B".

In [19]:
# print('This product is from Category "A". \rProduct 01')
print('This product is from Category "A". \rProduct 0001')

Product 0001

## Using Various String Methods - Part I

In [1]:
s = 'Price per unit'
s

'Price per unit'

In [2]:
s1 = s.replace('Price', 'Cost')
s1

'Cost per unit'

In [3]:
s1.startswith('Cost')

True

In [6]:
s1.startswith('cost')

False

In [7]:
s1.startswith('Price')

False

In [8]:
s1.endswith('nit')

True

In [9]:
s1.endswith('nits')

False

In [10]:
s1

'Cost per unit'

In [11]:
s1.split()

['Cost', 'per', 'unit']

In [12]:
len(s1.split())

3

In [13]:
s1.split(' ')

['Cost', 'per', 'unit']

In [14]:
s1.split(" ")

['Cost', 'per', 'unit']

In [15]:
s1.split('')

ValueError: empty separator

In [16]:
s1.split('per')

['Cost ', ' unit']

In [19]:
# s1.split(' ', maxsplit = 0)
# s1.split(' ', 0)
# s1.split(' ', 1)
# s1.split(' ', 2)
# s1.split(' ', 3)
s1.split(' ', 4)

['Cost', 'per', 'unit']

In [20]:
s2 = 'Mr., John, Wilson'

In [21]:
s2.split(',')

['Mr.', ' John', ' Wilson']

In [22]:
# s2.split(',')[0]
# s2.split(',')[1]
s2.split(',')[2]

' Wilson'

## Using Various String Methods - Part II

In [23]:
s3 = 'Mrs. Amy Moore'

In [24]:
s3.upper()

'MRS. AMY MOORE'

In [25]:
s3.lower()

'mrs. amy moore'

In [26]:
s3.capitalize()

'Mrs. amy moore'

In [27]:
s3.title()

'Mrs. Amy Moore'

In [28]:
s3 == s3.title()

True

In [29]:
'Cost per unit'.title()

'Cost Per Unit'

In [30]:
s4 = '  quarterly earnings report   '

In [31]:
s4.strip()

'quarterly earnings report'

In [32]:
s4.strip(' ')

'quarterly earnings report'

In [33]:
s4.strip(' r')

'quarterly earnings report'

In [34]:
s4.strip(' qt')

'uarterly earnings repor'

In [35]:
s4.strip('qt')

'  quarterly earnings report   '

In [36]:
s4.lstrip()

'quarterly earnings report   '

In [37]:
s4.rstrip()

'  quarterly earnings report'

In [38]:
s4.strip(' quarterly')

'nings repo'

In [39]:
s4.lstrip(' quarterly')

'nings report   '

In [40]:
s5 = s4.strip()
s5

'quarterly earnings report'

In [41]:
s5.lstrip('quarterly')

' earnings report'

In [42]:
s5.rstrip('report')

'quarterly earnings '

In [43]:
s6 = ' %&!quarterly earnings report  *'

In [44]:
s6.strip(' !@#$%^&*()')

'quarterly earnings report'

## String Accessors

In [45]:
import pandas as pd

In [46]:
operational_kpis = pd.Series(["employee satisfaction rating", "employee churn rate"])
operational_kpis

0    employee satisfaction rating
1             employee churn rate
dtype: object

In [47]:
operational_kpis.lstrip('employee')

AttributeError: 'Series' object has no attribute 'lstrip'

In [48]:
operational_kpis[0].lstrip('employee')

' satisfaction rating'

In [49]:
operational_kpis[1].lstrip('employee')

' churn rate'

In [50]:
pd.Series([operational_kpis[0].lstrip('employee'), operational_kpis[1].lstrip('employee')])

0     satisfaction rating
1              churn rate
dtype: object

In [51]:
# operational_kpis.str
print(operational_kpis.str)

<pandas.core.strings.accessor.StringMethods object at 0x0000022766422E20>

In [52]:
operational_kpis.str[1]

0    m
1    m
dtype: object

In [53]:
operational_kpis[1]

'employee churn rate'

In [54]:
operational_kpis.str.lstrip('employee')

0     satisfaction rating
1              churn rate
dtype: object

In [55]:
test_series = pd.Series(['Text_data', 34])
test_series

0    Text_data
1           34
dtype: object

In [56]:
test_series.str.lstrip('Text_')

0    data
1     NaN
dtype: object

In [57]:
test_series = pd.Series(['Text_data', '34'])

In [58]:
test_series.str.lstrip('Text_')

0    data
1      34
dtype: object

In [59]:
house_prices = pd.Series(['$400,000', '$500,000', '$600,000'])
house_prices

0    $400,000
1    $500,000
2    $600,000
dtype: object

In [60]:
house_prices.str.contains("$")

0    True
1    True
2    True
dtype: bool

## Using the .format() Method

In [61]:
time_horizon = 1, 3, 12
time_horizon

(1, 3, 12)

In [62]:
products = ['Product A', 'Product B']
products

['Product A', 'Product B']

In [63]:
'Expected sales for a period of {} month(s) for {}:'.format(12, 'Product B')

'Expected sales for a period of 12 month(s) for Product B:'

In [64]:
'Expected sales for a period of {} month(s) for {}:'.format(time_horizon, products)

"Expected sales for a period of (1, 3, 12) month(s) for ['Product A', 'Product B']:"

In [65]:
'Expected sales for a period of {} month(s) for {}:'.format(time_horizon[2], products[1])

'Expected sales for a period of 12 month(s) for Product B:'

In [66]:
'Expected sales for a period of {0} month(s) for {1}:'.format(time_horizon[2], products[1])

'Expected sales for a period of 12 month(s) for Product B:'

In [67]:
'Expected sales for a period of {1} month(s) for {0}:'.format(time_horizon[2], products[1])

'Expected sales for a period of Product B month(s) for 12:'

In [68]:
'Expected sales for a period of {t_hor} month(s) for {prod}:'.format(t_hor = 12, prod = 'Product B')

'Expected sales for a period of 12 month(s) for Product B:'

In [69]:
'Expected sales for a period of {t_hor} month(s) for {prod}:'.format(t_hor = 12, prod = ['Product A', 'Product B'])

"Expected sales for a period of 12 month(s) for ['Product A', 'Product B']:"

In [70]:
'Expected sales for a period of {t_hor} month(s) for {prod[1]}:'.format(t_hor = 12, prod = ['Product A', 'Product B'])

'Expected sales for a period of 12 month(s) for Product B:'

In [71]:
'Expected sales for a period of {t_hor[2]} month(s) for {prod[1]}:'.format(t_hor = time_horizon, prod = products)

'Expected sales for a period of 12 month(s) for Product B:'

In [72]:
'Expected sales for a period of {t_hor[2]} month(s) for {prod[1]}: ${sales}.'.format(t_hor = time_horizon, prod = products, sales = 10000)

'Expected sales for a period of 12 month(s) for Product B: $10000.'

In [73]:
'Expected sales for a period of {0} month(s) for {prod[1]}: ${sales}.'.format(12, prod = products, sales = 10000)

'Expected sales for a period of 12 month(s) for Product B: $10000.'